* {
  padding: 0px;
  margin: 0px;
}

/* .box {
  height: 100px;
  width: 100px;
  background: aquamarine;
  margin: 10px;
} */

body {
  font-family: "Pacifico", cursive;
  background: #2d2d2d;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

/* For Navigation Bar */

#nav-bar {
  width: 96vw;
  background: #4b4b4b;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.nav-bar-content {
  position: sticky;
  top: 5px;
}

a {
  text-decoration: none;
}

a:active,
a:visited {
  color: white;
}

.c {
  clear: both;
}

.nav1 {
  float: left;
}

.nav2 {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  float: right;
}

/* For Main */

#home {
  /* background: skyblue; */
  display: flex;
  flex-direction: row;
  margin: 100px 40px;
  height: 70vh;
}

.home-container {
  justify-content: center;
}

.greeting {
  font-size: 100px;
  color: #d3d3d3;
  transform: translate(170px);
}

.home-container .short-intro {
  font-size: 15px;
  color: #d3d3d3;
  text-align: center;
  transform: translate(150px, 30px);
}

/* For Button */

.my-work-btn {
  padding: 10px;
  width: 100px;
  transform: translate(500px, 90px);
  color: gray;
  background: #d2d2d2;
  border-radius: 5px;
  border: none;
}

/* For Image Cards */

.home-card-container {
  float: right;
  transform: translate(400px);
}

.h-first {
  /* background: skyblue; */
  transform: translate(200px, -40px);
}

.h-first img {
  height: 400px;
  width: 300px;
}

.h-second {
  transform: translate(50px, -110px) rotate(12deg);
}

.h-second img {
  height: 100px;
  width: 80px;
}

.h-third {
  transform: translate(110px, -320px) rotate(-15deg);
}

.h-third img {
  height: 150px;
  width: 115px;
}

/* Collections */

#collection {
  height: 255vh;
  color: white;
}

#collection p {
  text-align: center;
  font-size: 40px;
}

/* For About */

#about {
  height: 100vh;
  background: #8d8d8d;
  display: none;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
}

.about-container {
  background: #4b4b4b;
  height: 400px;
  width: 650px;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

.about-content {
  justify-items: center;
  text-align: justify;
}

.about-content button {
  background: #a6a6a6;
  border: none;
  border-radius: 10px;
  height: 20px;
  width: 50px;
  margin: 40px 0px 0px;
}

.info {
  justify-items: center;
}

/* For Cards */

.c-card {
  height: 400px;
  width: 300px;
  background: #000;
  border-radius: 20px;
  border: 2px solid #a0a0a0;
  overflow: hidden;
  position: relative;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); /* Smooth eased transition */
  cursor: pointer;
}

.c-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.first-row,
.second-row,
.third-row {
  justify-content: center;
  display: flex;
  padding: 40px;
  gap: 50px;
}

#dis p {
  font-size: 20px;
}

#dis {
  position: absolute;
  bottom: -150px; /* Hide further down initially */
  background: rgba(0, 0, 0, 0.7); /* Darker, better contrast */
  padding: 15px;
  width: 100%;
  box-sizing: border-box; /* Ensure padding doesn't overflow width */
  transition: bottom 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.c-card:hover {
  transform: translateY(-10px) scale(1.02); /* Lift and slight scale */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); /* Deep shadow for depth */
  animation: 5s borderlight infinite;
}

.c-card:hover img {
  transform: scale(1.1); /* Zoom image */
}

.c-card:hover #dis {
  bottom: 0px;
}

/* Contact */

#contact {
  height: 100vh;
  background: #8d8d8d;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 0px 200px;
}

.contact-container {
  height: 500px;
  width: 100vw;
  background: #2d2d2d;
  border-radius: 20px;
  box-shadow: 5px 5px 50px #3b3b3b;
  position: relative;
}

#profile {
  height: 250px;
  width: 240px;
  position: absolute;
  top: 10%;
  left: 9%;
  padding: 20px;
  border-radius: 50%;
  background: rgb(157, 157, 157, 0.2);
}

#profile img {
  height: 250px;
  width: 240px;
  border-radius: 50%;
  box-shadow: 5px 5px 50px #9d9d9d;
}

.details {
  height: 450px;
  width: 500px;
  background: #a6a6a6;
  border-radius: 0px 20px 20px 0px;
  position: absolute;
  top: 5%;
  right: 2%;
}

.details-container {
  /* background: red; */
  margin: 10px;
  padding: 100px 0px;
}

.head {
  justify-items: center;
}

.data {
  /* background: skyblue; */
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.r1 {
  display: flex;
  margin: 15px 0px;
  gap: 150px;
}

.r2 {
  display: flex;
  margin: 15px 0px;
  gap: 150px;
}

.status {
  background: #5ece5e;
  color: rgb(0, 175, 0);
  border-radius: 20px;
}

#title {
  color: #2d2d2d;
}

.social-media {
  background: rgb(157, 157, 157, 0.2);
  border-radius: 100px;
  position: absolute;
  margin: 25px;
  top: 65%;
  height: 125px;
  width: 400px;
  position: relative;
}

/* Icons for Social Media */

.fb {
  position: absolute;
  top: 20%;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 40px;
  height: 80px;
  width: 80px;
  color: white;
  background: rgb(8, 106, 198);
  cursor: pointer;
}

.insta {
  position: absolute;
  top: 20%;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 40px;
  height: 80px;
  width: 80px;
  color: white;
  background: rgb(8, 106, 198);
  cursor: pointer;
}

.gmail {
  position: absolute;
  top: 20%;
  left: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 40px;
  height: 80px;
  width: 80px;
  color: white;
  background: rgb(8, 106, 198);
  cursor: pointer;
}

/* Animations */

@keyframes borderlight {
  0% {
    box-shadow: 5px 5px 50px red;
  }
  25% {
    box-shadow: 5px 5px 50px blue;
  }
  50% {
    box-shadow: 5px 5px 50px green;
  }
  75% {
    box-shadow: 5px 5px 50px yellow;
  }
  100% {
    box-shadow: 5px 5px 50px gray;
  }
}
