* {
  padding: 0px;
  margin: 0px;
}

/* .box {
  height: 100px;
  width: 100px;
  background: aquamarine;
  margin: 10px;
} */

body {
  font-family: "Pacifico", cursive;
  background: #2d2d2d;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

/* For Navigation Bar */

#nav-bar {
  width: 96vw;
  background: #4b4b4b;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.nav-bar-content {
  position: sticky;
  top: 5px;
}

a {
  text-decoration: none;
}

a:active,
a:visited {
  color: white;
}

.c {
  clear: both;
}

.nav1 {
  float: left;
}

.nav2 {
  display: flex;
  flex-direction: row;
  float: right;
  column-gap: 30px;
}

/* For Main */

#home {
  /* background: skyblue; */
  display: flex;
  flex-direction: row;
  margin: 100px 40px;
  height: 70vh;
}

.home-container {
  justify-content: center;
}

.greeting {
  font-size: 100px;
  color: #d3d3d3;
  transform: translate(170px);
}

.home-container .short-intro {
  font-size: 15px;
  color: #d3d3d3;
  text-align: center;
  transform: translate(150px, 30px);
}

/* For Button */

.my-work-btn {
  padding: 10px;
  width: 100px;
  transform: translate(500px, 90px);
  color: gray;
  background: #d2d2d2;
  border-radius: 5px;
  border: none;
}

/* For Image Cards */

.home-card-container {
  float: right;
  transform: translate(400px);
}

.h-first {
  /* background: skyblue; */
  transform: translate(200px, -40px);
}

.h-first img {
  height: 400px;
  width: 300px;
}

.h-second {
  transform: translate(50px, -110px) rotate(12deg);
}

.h-second img {
  height: 100px;
  width: 80px;
}

.h-third {
  transform: translate(110px, -320px) rotate(-15deg);
}

.h-third img {
  height: 150px;
  width: 115px;
}

/* Collections */

#collection {
  height: 100vh;
  color: white;
}

#collection p {
  text-align: center;
  font-size: 40px;
}

/* For Cards */

.c-card {
  height: 400px;
  width: 300px;
  background: #000;
  border-radius: 20px;
  border: 2px solid #a0a0a0;
  overflow: hidden;
  position: relative;
  transition: all ease-in-out 0.5s;
}

.c-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.first-row,
.second-row,
.third-row {
  justify-content: center;
  display: flex;
  padding: 40px;
  gap: 50px;
}

.c-card:hover {
  box-shadow: 5px 5px 15px #b9b9b9;
}